@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ffffff;
  color: #5a5a5a;
  font-family: Montserrat, sans-serif;
}

.map {
  margin: 2rem;
  width: 100%;
  position: relative;
}

#qro-map {
  fill: #e1e1e1;
  stroke:#ffffff;
  stroke-width: 1.50px;
}

#qro-map g {
  -webkit-transition: .3s;
  transition: .3s;
}

#qro-map g:hover {
  cursor: pointer;
  opacity: .75;
  transition: fill 0.8s linear 0.2s;
}

.active, .active:hover {
  fill: #753a28 !important;
}

#provinceInfo {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  pointer-events: none;
  opacity: 0;
  border-radius: 5px;
  margin-right: 3rem;
  box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
  -webkit-transition: 3s;
  transition: 3s;
}

@media all and (max-width: 800px) {
  #provinceInfo {
    width: 40%;
  }
}
@media all and (max-width: 750px) {
  #provinceInfo {
    width: 100%;
    position: static;
    background: none;
  }

  #provinceInfo.show p {
    color: #000 !important;
    margin-bottom: 2rem;
  }
}
#provinceInfo.show {
  opacity: 1;
}

#provinceInfo h1 {
  padding: .3rem;
  margin-top: -0.03rem;
  font-weight: 300;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

#provinceInfo p {
  margin-left: 2rem;
  margin-right: 2rem;
}

#provinceInfo img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

svg{
  width: 60%;
  display: inline-block;
  padding: 2em;
}
#container{
  width: 50%;
  display: inline;
}
